@import "tailwindcss";

:root {
  font-family: sans-serif;
}

@keyframes soft-blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.55;
    }
  }
  
  .animate-soft-blink {
    animation: soft-blink 1.5s ease-in-out infinite;
  }

  
  
